#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#control-buttons {
  margin-top: 40px;
}
